/* My Custom Style Sheet */

/* ---------------------------- GENERAL STYLING ---------------------------- */
body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100%;
    color: #2d2d2d;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h2{
    font-family: 'Acme', sans-serif;
    font-size: 3em;
}

h3{
    color: #4a400d;
}

.jumbotron{
    margin: 0;
}

.orange-text{
    color: #ff9a03;
}

.header-text{
    padding-bottom: 20px;
}

/* ---------------------------- NAVBAR ---------------------------- */
.navbar-default .navbar-brand{
    color: #ff9a03;
    font-style: italic;
}

.navbar-default .navbar-brand:hover{
    color: #ff9a03;
}

.navbar-static-top{
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fdfdfd;
}

.navbar-default.rollout { 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 6px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 6px;
    opacity: .9;
}

#navbar-menu {
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
}

#navbar-menu a{
    color: #999999;
    padding-bottom: 12px;
}


#navbar-menu a:hover{
    color: #ff9a03;
    border-bottom: 3px solid #ff9a03;
}

.content-center{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.btn-default{
    color: #4d4d4d;
    font-weight: 500;
}

/* ---------------------------- MAIN NAVBAR ---------------------------- */

#main-navbar{
    z-index: 999;
}

/* ---------------------------- MAIN ---------------------------- */

h1{
    text-align: center;
}

#main-div{
    padding-top: 70px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background: rgba(255,255,255,0);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 40%, rgba(255,253,247,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0)), color-stop(40%, rgba(255,255,255,0.4)), color-stop(100%, rgba(255,253,247,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 40%, rgba(255,253,247,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 40%, rgba(255,253,247,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 40%, rgba(255,253,247,1) 100%);
}

#title-gif {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 500px;
    height: 500px;
    background-image: url('../img/title_spritesheet2.png');
    
    -webkit-animation: play 1s steps(10) infinite;
       -moz-animation: play 1s steps(10) infinite;
        -ms-animation: play 1s steps(10) infinite;
         -o-animation: play 1s steps(10) infinite;
            animation: play 1s steps(10) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -5000px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -5000px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -5000px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -5000px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -5000px; }
}

/* ---------------------------- NEWSLETTER SUBSCRIPTION ---------------------------- */

#newsletter-div{
    background-color: #ffee8a;
    border-bottom: 1px solid #afafaf;
    border-top: 1px solid #afafaf;
    padding: 22px 0;
}

#newsletter-div p{
    font-size: 1.2em;
    font-weight: 400;
}

#form-div{
    padding-top: 40px;
}

#subscribe-form{
    vertical-align: inherit;
}

#feedback-text{
    color: #4a400d;
    text-align: center;
}

/* ---------------------------- ABOUT ANIKA ---------------------------- */

#about-div{
    padding-top: 30px;
    padding-bottom: 30px;
}

#about-div p{
    font-size: 1.2em;
    padding-bottom: 10px;
}

/* ---------------------------- FEATURES ---------------------------- */

#features-div{
    padding-bottom: 40px;
    background: url('../img/temp-bg.png');
    background-repeat: repeat;
    
    margin-bottom: 0px;
}

#feature1{
    color: #337ab7;
}

#feature2{
    color: #ff7f7f;
}

#feature3{
    color: #25adbd;
}


/* ---------------------------- TEAM ---------------------------- */

#team-div{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-founder{
    padding-bottom: 30px;
}

.team-profile{
    text-align: center;
    margin-bottom: 15px;
}

.founder-name{
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

.team-bio{
    text-align: left;
    line-height: 22px;
    color: #4d4d4d;
}

/* ---------------------------- FEEDBACK ---------------------------- */

#feedback-div{
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    color: #ffffff;
}

#feedback-text{
    color: #2d2d2d;
}


/* ---------------------------- FOOTER ---------------------------- */

#footer-navbar{
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
}

#footer-navbar a{
    color: #ffa200;
    font-family: 'Varela Round', sans-serif;

}

#footer-navbar a:hover{
    color: #ff7f7f;
}

#footer-navbar .navbar-right p{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #999999;
}


/* ////////////////////////// RESPONSIVE ////////////////////////// */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .col-sm-6{
        padding-left: 45px;
        padding-right: 45px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}